label.price {
  font-weight: 600;
  right: -3px;
  top: 25px;
  margin-left: 50px;
  position: absolute;
  display: inline-block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  margin-left: 15px;
  color: #FFF;
  background: #D85B30;
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px, rgba(255, 255, 255, 0.2) 1px 1px;
  -moz-border-radius: 0 3px 2px 0px;
  -webkit-border-radius: 0;
  border-radius: 0 3px 2px 0px;
}
.colorTour {
  color: #D85B30;
}
label.price:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 0;
  height: 0;
  display: inline-block;
  line-height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #D85B30 #D85B30 #D85B30 transparent;
}
label.price:before {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 120px;
  left: -35px;
  height: 4px;
  -moz-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
  z-index: -1;
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
}

.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fix-padding  {
  padding: 9px 12px !important;
}

.dropdownFilter {
  margin-top: 0px !important;
  background: #FFF !important;

}

.dropdownFilter li>a {
  border-style: none;
  border-width: 0px !important;
  border: 0px !important;
  color: #000 !important;
}

#selectedSort {
  cursor: default !important;
}

.tab-item-with-image {
  margin-top: 15px !important;
}
