@font-face {
	font-family: 'procida';
	src:url('../fonts/procida.eot?o4i27');
	src:url('../fonts/procida.eot?#iefixo4i27') format('embedded-opentype'),
		url('../fonts/procida.woff?o4i27') format('woff'),
		url('../fonts/procida.ttf?o4i27') format('truetype'),
		url('../fonts/procida.svg?o4i27#procida') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="picon-"], [class*=" picon-"] {
	font-family: 'procida';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.picon-compass:before {
	content: "\e604";
}
.picon-museum:before {
	content: "\e600";
}
.picon-car:before {
	content: "\e601";
}
.picon-tag:before {
	content: "\e602";
}
.picon-shop:before {
	content: "\e603";
}
.picon-restaurant:before {
	content: "\e605";
}
.picon-mobile:before {
	content: "\e606";
}
.picon-map-marker:before {
	content: "\e607";
}
.picon-location:before {
	content: "\e608";
}
.picon-info:before {
	content: "\e609";
}
.picon-hotel:before {
	content: "\e60a";
}
.picon-excursion:before {
	content: "\e60b";
}
.picon-clock:before {
	content: "\e60c";
}
.picon-calendar:before {
	content: "\e60d";
}
.picon-beach-1:before {
	content: "\e60e";
}
.picon-beach-2:before {
	content: "\e60f";
}

.icon-adjust{
	font-size: 25px;
line-height: 1px;
vertical-align: middle;
}