@import url(fancybox.css);
html,
body {
    -webkit-font-smoothing: antialiased;
    /*height: 100%;*/
    /* The html and body elements cannot have any padding or margin. */
    /*font-family: 'Open Sans', sans-serif;*/
    background-color: #f4f5f6;
}

h1 {
    font-weight: 700;
}

h2 {
    letter-spacing: -1px;
    font-weight: 300;
    margin-top: 0;
}

iframe {
    width: 100%;
    border: 0;
}


/*#features,#support,#testimonials,#news, #bottom{background-color: #f4f5f6;}*/


/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    color: #333;
}


/* Set the fixed height of the footer here */

#push {
    height: 60px;
}


/*Navbar Customizations*/

.navbar-purity {
    background: #2D3538;
    background-color: #2D3538;
    filter: none;
    background-image: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

.navbar-purity {
    background: rgba(46, 46, 46, 0.35);
    border: none;
}

.navbar-purity.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-purity .navbar-toggle {
    border-color: transparent;
}

.navbar-purity .navbar-toggle:hover,
.navbar-purity .navbar-toggle:focus {
    background-color: #333;
}

.navbar-purity .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-purity .navbar-brand {
    /*padding: 10px 5px;*/
}

.navbar-purity.sticky {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: none;
}

.navbar-purity.sticky .nav > li > a:hover {
    color: #fff;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar-purity.sticky .nav > li.active a {
    /*background: transparent;*/
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar-purity.sticky .nav > li a {
    background: transparent;
    color: #b4b4b4;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar-purity.sticky .dropdown-menu li >a {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
}

.navbar-purity .sticky .dropdown-menu li > a:hover,
.navbar-purity .sticky .dropdown-menu li > a:focus,
.navbar-purity .sticky .dropdown-submenu:hover > a {
    text-decoration: none;
    color: #FFF;
    background-color: #292929;
    background-image: none;
}

.navbar-purity .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar .dropdown-submenu:hover > a {
    text-decoration: none;
    color: #FFF;
    background-color: #292929;
    background-image: none;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #383838;
}

.navbar-purity.navbar-inverse {
    background-color: #3b3b3b;
    background: #3b3b3b;
    background-image: none;
}

.dropdown-menu {
    margin: 5px 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #383838;
    padding: 0;
    border: 0;
    ;
}

.dropdown-menu li > a {
    color: #a5a5a5;
    padding: 10px;
    border-bottom: 1px solid #474747;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar .nav > li > a {
    text-shadow: none;
    color: #d3d3d3;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
    font-size: 15px!important;
    padding: 18px;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    box-align: center;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}

.navbar .nav > li > a:hover {
    color: #999;
    background: rgba(0, 0, 0, 0.36);
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar .nav > li.active a {
    background: rgba(0, 0, 0, 0.36);
    color: #999;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}

.navbar .nav > li.active a:hover {
    background: rgba(0, 0, 0, 0.36);
    color: #C6D0D3;
    box-shadow: none;
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
}


/* Nav bar CSS END*/


/*General Items CSS*/

#main-media {
    padding-bottom: 10px;
}

section {
    position: relative;
}

header {
    background: url(../images/header.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-landing {
    text-shadow: 0 -1px 0 #6c9a15;
    color: #fff;
    background-color: #8AB833;
    background-image: 0;
    background-image: 0;
    background-image: 0 to(#6c9a15);
    background-image: 0;
    background-image: 0;
    background-image: linear-gradient(top, #a8d651, #6c9a15);
    filter: DXImageTransform.Microsoft.gradient(startColorstr='#a8d651', endColorstr='#6c9a15', GradientType=0);
    border-color: #8AB833 #6c9a15 #6c9a15 #8AB833;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-landing:hover,
.btn-landing:active,
.btn-landing.active,
.btn-landing.disabled,
.btn-landing[disabled] {
    background-color: #6c9a15;
}

.btn-landing:hover {
    color: #fffffb;
    text-shadow: 0 -1px 0 #4e7c00;
}

.btn-landing:focus {
    color: #eeff97;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #8AB833 #6c9a15 #6c9a15 #8AB833;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-landing.active,
.btn-landing:active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #eeff97;
}

.btn-landing {
    font-family: Open Sans, sans-serif;
    min-width: 200px;
    padding: 20px;
    font-size: 19px!important;
    font-weight: 300;
    background: #8AB833;
    border-radius: 0;
}

footer {
    font-size: 12px;
    color: #888;
    display: block;
    background: #3B3B3B;
    padding: 50px 0 100px;
    position: relative;
    width: 100%;
}

.copyright {
    color: #BBB;
}

li.heading {
    font-weight: 700;
    margin-bottom: 4px;
}

ul.social li i {
    font-size: 50px;
    line-height: 50px;
    color: #ccc;
}

ul.social li i:hover {
    color: #bbb;
}

hr {
    border: solid #DDD;
    border-width: 1px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0;
}

hr.line {
    border-color: #D3D3D3;
    margin: 40px auto;
    max-width: 960px;
    border-bottom: 1px solid #FFF;
}


/*margins & paddings css for easy use*/

.margin5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.margintop25p {
    margin-top: 25%;
}

.margintop10p {
    margin-top: 10%;
}

.margintop10 {
    margin-top: 10px;
}

.paddingtop10 {
    padding-top: 10px;
}

.paddingtop20 {
    padding-top: 20px !important;
}

.marginbot20 {
    margin-bottom: 20px !important;
}

.paddingbot20 {
    padding-bottom: 20px !important;
}

.margintop20p {
    margin-top: 20%;
}

.margintop20 {
    margin-top: 20px !important;
}

.margintop40 {
    margin-top: 40px !important;
}

.paddingbottom40 {
    padding-bottom: 40px !important;
}

.paddingbot60 {
    padding-bottom: 60px !important;
}

.paddingbot80 {
    padding-bottom: 80px !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.colorpicker_field input {
    width: auto;
}

.colorpicker_field input,
.colorpicker_hex input {
    width: auto;
    line-height: 0;
}

h2.big-h2-heading {
    font-size: 50px;
}

footer img {
    height: 50px;
}

#scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 1%;
}

.support-icon {
    font-size: 80px;
    display: block;
    padding: 0;
}


/*General CSS END*/


/* Google Map
=================================================================== */

#small-map-container {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    border: 5px solid #666;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .25);
    height: 300px;
    width: 300px;
    margin-bottom: -305px;
}

#small-map-container a {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    height: 250px;
    width: 250px;
    display: block;
}

#small-map {
    position: relative;
    z-index: 1;
}

#footer a {
    color: #666;
}

#footer a:hover {
    color: #fff;
}


/* News
------------------*/

.homepage-post {
    position: relative;
    margin-bottom: 10px;
}

.post {
    padding: 5px;
}

.post.post-page {
    margin-bottom: 0;
}

.post-description {
    padding: 0 10px;
    color: #666;
}


/* Post Meta */

.post-meta {
    color: #888;
    float: left;
    margin-right: 10px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.post-meta a {
    color: #888;
    text-decoration: none;
}

.post .headline {
    text-align: left;
    padding: 0 10px;
}

.post-meta a:hover {
    color: #666;
}

.post-meta i {
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin-right: 5px;
    zoom: 1;
}

.post-meta span {
    margin-right: 10px;
}


/* Entry */

a.post-entry {
    margin-bottom: 5px;
    opacity: .5;
    float: right;
    text-decoration: none;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

a.post-entry:hover {
    color: #888;
    opacity: 1;
}


/*Features*/

#features {
    display: block;
    background: #fff;
}

#features .thumbnail {
    background: none;
}

#features-banner {
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F0FCFF;
    padding: 150px 0;
    text-shadow: 1px 1px 1px #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#features-banner h1 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -3px;
}

#features-banner h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 27px;
    letter-spacing: 0;
}

#features .thumbnail {
    border: 0;
    padding: 0;
    margin-bottom: 35px;
    text-align: center;
}

#features .thumbnail:hover {
    margin-top: -15px;
    /*    margin-top:-30px;*/
}

#features.thumbnail h4 {
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: -1px;
}

#features.thumbnail span {
    font-size: 13px;
    color: #bbbdc0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

#features.thumbnail p {
    padding: 0 20px 20px;
    margin: 0;
}

.feature-icon {
    text-align: center;
    color: #999;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.feature-icon:hover {
    color: #333;
}


/*Support*/

#support-banner {
    background-image: url(../images/bg_blue.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F0FCFF;
    padding: 150px 0;
    text-shadow: 1px 1px 1px #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#support-banner h1 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -3px;
}

#support-banner h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 100;
    font-size: 34px;
    letter-spacing: 0;
}


/*Testimonials*/

#testimonials-background {
    background-image: url(../images/gallery_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F0FCFF;
    padding: 150px 0;
    text-shadow: 1px 1px 1px #000;
    background-size: cover;
}

#testimonials-background h1 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -3px;
}

#testimonials-background h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0;
}


/*Contact Us*/

#contact {
    background: #3B3B3B;
}

#contact-background {
    background-image: url(../images/contact_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F0FCFF;
    padding: 150px 0;
    text-shadow: 1px 1px 1px #000;
    background-size: cover;
}

#contact-background h1 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 65px;
    line-height: 1;
    letter-spacing: -3px;
}

#contact-background h2 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0;
}


/*COLOR SWITCHER*/

#toggle_button {
    margin: 0;
    margin-left: -2px;
    padding: 0;
    float: left;
    width: 30px;
    height: 30px;
    background: #fff url(themes_panel.png) no-repeat center center;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

#toggle_button a {
    display: block;
    padding: 14px 0;
}


/* ---------------------------------= */


/* Flexslider
----------------------------------- */


/* Browser Resets
------------------*/

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Necessary Styles
------------------*/

.flexslider {
    margin: 0;
    padding: 0;
    min-height: 450px;
}


/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides > li {
    position: relative;
    zoom: 1;
    display: none;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}


/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flexslider {
    position: relative;
    zoom: 1;
    z-index: 50;
}


/* Clearfix for the .slides element */

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}


/* No JavaScript Fallback */


/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
    display: block;
}


/* Default Styles
------------------*/

.flexslider {
    /*background: #fff;*/
    zoom: 1;
    text-align: center;
    margin-top: 8%;
}

.ie7 .flexslider {
    margin-bottom: -30px;
}

.flex-viewport {
    max-height: 2000px;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}


/* Direction Nav
------------------*/

.flex-direction-nav a {
    width: 20px;
    height: 20px;
    display: block;
    /*background-color: #000;*/
    bottom: 45%;
    right: 1%;
    float: none;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
    /*background-color: transparent;*/
    /*background: rgba(0, 0, 0, 0.65);*/
    bottom: 50px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: .3;
}

.flex-direction-nav .flex-next {
    background: url(../images/arrows.png) no-repeat -20px 0;
}

.flex-direction-nav .flex-prev {
    background: url(../images/arrows.png) no-repeat 0 0;
    left: 1%;
}

.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
    opacity: 1;
}

.subpage .flex-direction-nav a {
    bottom: 0;
    right: 0;
    bottom: 30px;
}


/* Control Nav
------------------*/

.flex-control-nav {
    /*    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;*/
}

.flex-control-nav li {
    margin: 0 3px 0 0;
    display: inline-block;
    zoom: 1;
}

.flex-control-paging li a {
    width: 14px;
    height: 14px;
    display: block;
    background: #c8c8c8;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    opacity: .5;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
    background: #505050;
}

.flex-control-paging li a.flex-active {
    cursor: default;
}

.flexslider li p {
    color: rgba(255, 255, 255, 0.71);
    text-shadow: 1px 1px 1px rgba(61, 61, 61, 0.49);
}

.flexslider li h1 {
    color: rgba(75, 75, 75, 0.64);
    font-size: 60px;
    line-height: 1;
    letter-spacing: -3px;
    font-weight: 300;
}


/*Home Icons, Featues Icons*/

#home-icons {
    text-align: center;
    position: absolute;
    bottom: 30px;
}

#home-arrow {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    width: 50px;
    margin: auto;
    z-index: 9000;
}

#home-arrow a {
    padding: 10px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

#home-arrow a:hover {
    color: #999;
}

#home-arrow a i {
    line-height: 1px;
}


/*Thumbnails*/

.thumbnail {
    border: 0;
    padding: 0;
    text-align: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.thumbnail h4 {
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: -1px;
}

.thumbnail span {
    font-size: 13px;
    color: #bbbdc0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

.thumbnail p {
    padding: 0 20px 20px;
    margin: 0;
}

.icon-10x {
    font-size: 10em;
}


/* ==== Carousel ==== */


/*
.carousel-control.car-button {
    position: absolute;
    height: auto;
    width: auto;
    background: rgba(0, 0, 0, 0.47);
    opacity: .1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
}
.carousel-control.left {
    left: 1%;
}
.carousel-control.right {
    right: 1%;
}
.carousel-inner .item img {
    display: inline-block!important;
}
.carousel-inner .item {
    text-align: center!important;
}
.car-button {
    background: none;
    border: none;
    font-size: 30px;
    opacity: 0.1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.car-button:hover {
    border: none;
    opacity: .5;
}*/


/*.carousel.horizontal .next {
    left: 100%;
}
.carousel.horizontal .prev {
    left: -100%;
}
.carousel.horizontal .active.left {
    left: 100%;
}
.carousel.horizontal .active.right {
    left: -100%;
}
.carousel.carousel-fade .item {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel.carousel-fade .next, .carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}
.carousel.carousel-fade .carousel-control {
    z-index: 3;
}
.vertical .carousel-inner {
    height: 100%;
}
.carousel.vertical .item {
    -webkit-transition: .6s ease-in-out top;
    -moz-transition: .6s ease-in-out top;
    -ms-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
}
.carousel.vertical .active {
    top: 0;
}
.carousel.vertical .next {
    top: 100%;
}
.carousel.vertical .prev {
    top: -100%;
}
.carousel.vertical .next.left, .carousel.vertical .prev.right {
    -webkit-transition: ease-in-out top;
    -moz-transition: ease-in-out top;
    -ms-transition: ease-in-out top;
    -o-transition: ease-in-out top;
    transition: ease-in-out top;
}
.carousel.vertical .active.left {
    top: 100%;
}
.carousel.vertical .active.right {
    top: -100%;
}
.carousel.vertical .item {
    left: 0;
}
.carousel .inactive {
    position: absolute;
    display: block;
    z-index: -1;
}
.carousel .inactive.active {
    position: relative!important;
    z-index: 0;
}*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}


/* == Testimonial Box == */

#testimonials .carousel-control.left {
    background: none !important;
}

#testimonials .carousel-control.right {
    background: none !important;
}

.testimonial {
    background-color: #FFF;
    border: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 1px 1px 0 rgba(41, 41, 41, 0.09);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.testimonial.v2 {
    background: #444;
    color: #fff;
}

.testimonial.transparent {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.testimonial h4,
.testimonial p {
    font-weight: 300;
}

.testimonial p {
    padding: 10px;
    line-height: 22px;
}


/*Shadow Box*/

.shadowbox {
    background-color: #FFF;
    border: 0;
    padding: 0;
    padding-bottom: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.big-heading {
    font-size: 56px;
    line-height: 1;
    letter-spacing: -3px;
    text-align: center;
}


/*Sub Headings*/

.sub-heading {
    font-size: 18px;
    font-weight: 300;
    color: #BBBDC0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 20px 0 35px 0;
}

.sub-heading-support {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0;
}

.sub-heading-contact {
    font-size: 18px;
    font-weight: 300;
    color: #000!important;
    text-shadow: none!important;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0;
}

.carousel-fade .carousel-inner {
    overflow: visible;
}


/*Bootstrap Core Overlay CSS*/

.navbar .brand {
    padding: 10px 0;
    width: 150px;
}

textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
    /*   border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;*/
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    background: transparent;
    box-shadow: none;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #81A74C;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F;
}


/* == Pricing Tables == */

#pricing .price-plan {
    position: relative;
    width: auto;
    background: rgba(31, 31, 31, 0.71);
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}

#pricing .price-plan h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#pricing .price-plan h2:after {
    display: block;
    width: 222px;
    margin: 20px auto 0;
    height: 2px;
    background: #FFF;
}

#pricing .price-plan-business h2:after {
    width: 143px;
    position: relative;
    left: -4px;
}

#pricing .price-plan-unlimited h2:after {
    width: 157px;
    position: relative;
    left: -4px;
}

#pricing .price-plan-standard h2:after {
    width: 150px;
    position: relative;
    left: -4px;
}

#pricing .price-plan .price {
    padding: 10px 0;
    background-color: #cfcfcf;
}

#pricing .price-plan .price p {
    text-align: center;
    color: #696969;
    font-size: 12px;
    margin-top: 14px;
    font-style: italic;
}

#pricing .price-plan .price .inside {
    font-weight: 300;
    text-align: center;
    line-height: 100px;
    height: 100px;
}

#pricing .price-plan .price .inside .super {
    font-size: 24px;
    position: relative;
    top: -56px;
    left: -7px;
}

#pricing .price-plan .price .inside .amt {
    letter-spacing: -4px;
    font-size: 104px;
    margin-right: 6px;
    font-weight: 300;
    margin-left: -5px;
}

#pricing .price-plan .price .inside .sub {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: -5px;
}

#pricing .price-plan .most-popular {
    position: absolute;
    top: -10px;
    right: 5px;
    width: 100px;
    height: 25px;
    -moz-border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    -webkit-border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    background: #C93458;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

#pricing .price-plan .most-popular span {
    position: relative;
    top: 5px;
}

#pricing .price-plan .most-popular p {
    color: #FFF;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    margin: 0;
    font-style: normal;
}

#pricing .price-plan .info {
    text-align: center;
}

#pricing .price-plan .info p {
    font-size: 12px;
}

#pricing .price-plan .info ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

#pricing .price-plan .info ul li {
    font-size: 14px;
    line-height: 50px;
    color: #696969;
    background: #fff;
    border-bottom: solid 1px #e9e9e9;
    padding-left: 10px;
    text-align: left;
}

#pricing .price-plan .info ul li .free {
    display: inline-block;
    width: 100px;
    height: 20px;
    -moz-border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    -webkit-border-radius: 20% 10% 50% 5% / 25% 10% 30% 75%;
    background: #999;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

#pricing .price-plan .info ul li.signup {
    background: transparent;
    text-align: center;
    padding-left: 0;
    font-size: 18px;
    font-weight: 300;
}

#pricing .price-plan .info ul li.signup a {
    color: #999;
    -o-transition: all .1s ease-out, color .1s ease-out;
    -ms-transition: all .1s ease-out, color .1s ease-out;
    -moz-transition: all .1s ease-out, color .1s ease-out;
    -webkit-transition: all .1s ease-out, color .1s ease-out;
    transition: all .1s ease-out, color .1s ease-out;
}

#pricing .price-plan .info ul li.signup a:hover {
    color: #fff;
    text-decoration: none;
}

#pricing .price-plan .info ul li:first-child {
    padding-top: 10px;
}

#pricing .price-plan .info ul li:last-child {
    padding-bottom: 0;
}

#pricing .price-plan .bold {
    font-weight: 700;
    color: #222;
}

#pricing .price-plan-standard .bubble .inside {
    text-indent: 12px;
}

#pricing .price-plan-standard .bubble .inside .amt {
    margin-left: 3px;
}

#pricing .price-plan-unlimited .bubble .inside {
    text-indent: 8px;
}

#pricing .price-plan-business .bubble .inside {
    text-indent: 12px;
}

#pricing .price-plan-business .bubble .inside .amt {
    margin-left: 3px;
}

#pricing .get-started {
    padding-left: 60px;
    padding-top: 115px;
}

#pricing .get-started h2,
#pricing .get-started p {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
}

#pricing .get-started h2 {
    color: #1d1d1d;
}

#pricing .get-started p {
    color: #888;
}

#pricing .get-started a.get-started-button {
    margin-top: 88px;
    background-color: #F5E78B;
    -o-transition: background-color .1s ease-out, color .1s ease-out;
    -ms-transition: background-color .1s ease-out, color .1s ease-out;
    -moz-transition: background-color .1s ease-out, color .1s ease-out;
    -webkit-transition: background-color .1s ease-out, color .1s ease-out;
    transition: background-color .1s ease-out, color .1s ease-out;
    padding: 12px 40px 11px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
}

#pricing .get-started a.get-started-button:hover {
    background-color: #f2e9ad;
}

#pricing .questions {
    padding: 90px 0 0;
    clear: both;
}

#pricing .questions .header h2 {
    background: #1d1d1d;
    padding: 30px 20px;
    color: #FFF;
    font-weight: 100;
    font-size: 36px;
    display: block;
    width: auto;
    display: inline-block;
}

#pricing .questions h3 {
    color: #222;
    font-size: 16px;
    margin-top: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 24px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block;
}

#pricing .questions p {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

#pricing .questions .column {
    width: 450px;
    float: left;
}

#pricing .questions .column-first {
    margin-right: 60px;
}


/* -------------------------------------------------------- */


/*  Forms  */


/* -------------------------------------------------------- */

.form-menu input[type=text],
.form-menu input[type=password] {
    /*position:relative;*/
    /*height:20px;*/
    width: auto;
    /*padding:12px;*/
    margin-top: 10px;
    color: #979797;
    background: #464646;
    border-radius: 0;
    border: 0;
}

.form-main input,
.form-main textarea {
    color: #979797;
    background: #464646;
    border-radius: 0;
    border-color: #5a5a5a;
}

.form-comments input,
.form-comments textarea {
    color: #979797;
    background: #f4f4f4;
    border-radius: 0;
}

.form-modal input,
.form-modal textarea {
    position: relative;
    height: 20px;
    width: 95%;
    padding: 16px 12px 14px;
    margin-top: 10px;
    color: #979797;
    border-radius: 0;
}

.form-main textarea,
.form-comments textarea {
    height: 200px;
    resize: none;
}

.error {
    color: #FFF;
    display: none;
}


/* -------------------------------------------------------- */


/*  Buttons  */


/* -------------------------------------------------------- */

.btn-purity {
    color: #fff;
    font-weight: 300;
    background: #8AB833;
    border-radius: 0px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 1px #2D3A16;
    border-color: #8AB833 #6c9a15 #6c9a15 #8AB833;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

.btn-purity:hover {
    color: #FFF;
    background: #82AD38;
    text-shadow: 1px 1px 1px #48611C;
}

.navbar .btn-navbar {
    background: #90B912;
}

.navbar .btn-navbar:hover {
    background: #82AD38;
}

.btn-blue {
    background: #467add;
}

.btn-blue:hover {
    background: #83adff;
}

.btn-gray {
    background: #3b3b3b;
}

.btn-gray:hover {
    background: #467add;
}


/* -------------------------------------------------------- */


/*  Social Networks Icons */


/* -------------------------------------------------------- */

.social-network {
    display: inline-block;
    background: url(../img/social-networks.png) no-repeat top left;
    width: 24px;
    height: 24px;
    background-position-y: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    border: 0!important;
    margin-right: 6px;
}

.sn2 {
    background: url(../img/social-networks-2.png) no-repeat top left;
}


/* Normal */

.social-network.aim {
    background-position: 0 0;
}

.social-network.amazon {
    background-position: -24px 0;
}

.social-network.apple {
    background-position: -48px 0;
}

.social-network.behance {
    background-position: -72px 0;
}

.social-network.blogger {
    background-position: -96px 0;
}

.social-network.delicious {
    background-position: -120px 0;
}

.social-network.deviantart {
    background-position: -144px 0;
}

.social-network.digg {
    background-position: -168px 0;
}

.social-network.dribbble {
    background-position: -192px 0;
}

.social-network.ebay {
    background-position: -216px 0;
}

.social-network.evernote {
    background-position: -240px 0;
}

.social-network.facebook {
    background-position: -264px 0;
}

.social-network.feedburner {
    background-position: -288px 0;
}

.social-network.flickr {
    background-position: -312px 0;
}

.social-network.forrst {
    background-position: -336px 0;
}

.social-network.foursquare {
    background-position: -360px 0;
}

.social-network.github {
    background-position: -384px 0;
}

.social-network.google {
    background-position: -408px 0;
}

.social-network.gowalla {
    background-position: -432px 0;
}

.social-network.icq {
    background-position: -456px 0;
}

.social-network.itunes {
    background-position: -480px 0;
}

.social-network.lastfm {
    background-position: -504px 0;
}

.social-network.linkedin {
    background-position: -528px 0;
}

.social-network.meetup {
    background-position: -552px 0;
}

.social-network.myspace {
    background-position: -576px 0;
}

.social-network.newsvine {
    background-position: -600px 0;
}

.social-network.openid {
    background-position: -624px 0;
}

.social-network.paypal {
    background-position: -648px 0;
}

.social-network.picasa {
    background-position: -672px 0;
}

.social-network.pinterest {
    background-position: -696px 0;
}

.social-network.posterous {
    background-position: -720px 0;
}

.social-network.reddit {
    background-position: -744px 0;
}

.social-network.rss {
    background-position: -768px 0;
}

.social-network.skype {
    background-position: -792px 0;
}

.social-network.slashdot {
    background-position: -816px 0;
}

.social-network.soundcloud {
    background-position: -840px 0;
}

.social-network.stumbleupon {
    background-position: -864px 0;
}

.social-network.technorati {
    background-position: -888px 0;
}

.social-network.tumblr {
    background-position: -912px 0;
}

.social-network.twitter {
    background-position: -936px 0;
}

.social-network.viddler {
    background-position: -960px 0;
}

.social-network.vimeo {
    background-position: -984px 0;
}

.social-network.virb {
    background-position: -1008px 0;
}

.social-network.wordpress {
    background-position: -1032px 0;
}

.social-network.xing {
    background-position: -1056px 0;
}

.social-network.yahoo {
    background-position: -1080px 0;
}

.social-network.yelp {
    background-position: -1104px 0;
}

.social-network.youtube {
    background-position: -1128px 0;
}

.social-network.zerply {
    background-position: -1152px 0;
}


/* Mouseovers */

.social-network.aim:hover,
.active .social-network.aim {
    background-position: 0 -24px;
}

.social-network.amazon:hover,
.active .social-network.amazon {
    background-position: -24px -24px;
}

.social-network.apple:hover,
.active .social-network.apple {
    background-position: -48px -24px;
}

.social-network.behance:hover,
.active .social-network.behance {
    background-position: -72px -24px;
}

.social-network.blogger:hover,
.active .social-network.blogger {
    background-position: -96px -24px;
}

.social-network.delicious:hover,
.active .social-network.delicious {
    background-position: -120px -24px;
}

.social-network.deviantart:hover,
.active .social-network.deviantart {
    background-position: -144px -24px;
}

.social-network.digg:hover,
.active .social-network.digg {
    background-position: -168px -24px;
}

.social-network.dribbble:hover,
.active .social-network.dribbble {
    background-position: -192px -24px;
}

.social-network.ebay:hover,
.active .social-network.ebay {
    background-position: -216px -24px;
}

.social-network.evernote:hover,
.active .social-network.evernote {
    background-position: -240px -24px;
}

.social-network.facebook:hover,
.active .social-network.facebook {
    background-position: -264px -24px;
}

.social-network.feedburner:hover,
.active .social-network.feedburner {
    background-position: -288px -24px;
}

.social-network.flickr:hover,
.active .social-network.flickr {
    background-position: -312px -24px;
}

.social-network.forrst:hover,
.active .social-network.forrst {
    background-position: -336px -24px;
}

.social-network.foursquare:hover,
.active .social-network.foursquare {
    background-position: -360px -24px;
}

.social-network.github:hover,
.active .social-network.github {
    background-position: -384px -24px;
}

.social-network.google:hover,
.active .social-network.google {
    background-position: -408px -24px;
}

.social-network.gowalla:hover,
.active .social-network.gowalla {
    background-position: -432px -24px;
}

.social-network.icq:hover,
.active .social-network.icq {
    background-position: -456px -24px;
}

.social-network.itunes:hover,
.active .social-network.itunes {
    background-position: -480px -24px;
}

.social-network.lastfm:hover,
.active .social-network.lastfm {
    background-position: -504px -24px;
}

.social-network.linkedin:hover,
.active .social-network.linkedin {
    background-position: -528px -24px;
}

.social-network.meetup:hover,
.active .social-network.meetup {
    background-position: -552px -24px;
}

.social-network.myspace:hover,
.active .social-network.myspace {
    background-position: -576px -24px;
}

.social-network.newsvine:hover,
.active .social-network.newsvine {
    background-position: -600px -24px;
}

.social-network.openid:hover,
.active .social-network.openid {
    background-position: -624px -24px;
}

.social-network.paypal:hover,
.active .social-network.paypal {
    background-position: -648px -24px;
}

.social-network.picasa:hover,
.active .social-network.picasa {
    background-position: -672px -24px;
}

.social-network.pinterest:hover,
.active .social-network.pinterest {
    background-position: -696px -24px;
}

.social-network.posterous:hover,
.active .social-network.posterous {
    background-position: -720px -24px;
}

.social-network.reddit:hover,
.active .social-network.reddit {
    background-position: -744px -24px;
}

.social-network.rss:hover,
.active .social-network.rss {
    background-position: -768px -24px;
}

.social-network.skype:hover,
.active .social-network.skype {
    background-position: -792px -24px;
}

.social-network.slashdot:hover,
.active .social-network.slashdot {
    background-position: -816px -24px;
}

.social-network.soundcloud:hover,
.active .social-network.soundcloud {
    background-position: -840px -24px;
}

.social-network.stumbleupon:hover,
.active .social-network.stumbleupon {
    background-position: -864px -24px;
}

.social-network.technorati:hover,
.active .social-network.technorati {
    background-position: -888px -24px;
}

.social-network.tumblr:hover,
.active .social-network.tumblr {
    background-position: -912px -24px;
}

.social-network.twitter:hover,
.active .social-network.twitter {
    background-position: -936px -24px;
}

.social-network.viddler:hover,
.active .social-network.viddler {
    background-position: -960px -24px;
}

.social-network.vimeo:hover,
.active .social-network.vimeo {
    background-position: -984px -24px;
}

.social-network.virb:hover,
.active .social-network.virb {
    background-position: -1008px -24px;
}

.social-network.wordpress:hover,
.active .social-network.wordpress {
    background-position: -1032px -24px;
}

.social-network.xing:hover,
.active .social-network.xing {
    background-position: -1056px -24px;
}

.social-network.yahoo:hover,
.active .social-network.yahoo {
    background-position: -1080px -24px;
}

.social-network.yelp:hover,
.active .social-network.yelp {
    background-position: -1104px -24px;
}

.social-network.youtube:hover,
.active .social-network.youtube {
    background-position: -1128px -24px;
}

.social-network.zerply:hover,
.active .social-network.zerply {
    background-position: -1152px -24px;
}


/*Footer Links*/

ul.footer-links {
    list-style-image: url(../images/square.png);
    list-style-position: inside;
}

a.flink {
    color: #666;
    text-decoration: none;
    line-height: 30px;
    font-weight: 400;
    font-size: 13px;
    margin-left: 0;
    -moz-transition: color .5s, margin-left .5s;
    -webkit-transition: color .5s, margin-left .5s;
    -o-transition: color .5s, margin-left .5s;
    -ms-transition: color .5s, margin-left .5s;
    transition: color .5s, margin-left .5s;
}

a.flink:hover {
    color: #FFF;
    margin-left: 5px;
}


/*Social Header on Home Screen*/

.social-header {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: auto;
    overflow: hidden;
    margin: 40px auto 0;
    z-index: 9001;
}

#contact .big-h2-heading {
    color: #999;
}

#contact p {
    color: #999;
}

#contact label {
    color: #999;
    font-weight: normal;
}

.color1 {
    color: #FF6231;
}

.color2 {
    color: #FFC62E;
}

.color3 {
    color: #2E9FFF;
}

.color4 {
    color: #db1f1f;
}


/*Posts on Home Page*/

.post-img {
    position: relative;
}

.post-img .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    border-radius: 3px 3px 0 0;
}

.post-img .overlay .op {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 1000;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}

.post-img:hover .overlay .op {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -ms-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

.post-img:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -ms-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}

.post-img .icons {
    padding: 103px 0 0;
}

.post-img:hover .icons {
    padding: 103px 0 0 250px;
    -webkit-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    -ms-transition: padding .2s linear;
    -o-transition: padding .2s linear;
    transition: padding .2s linear;
}

.post-img .icons li {
    display: block;
    width: 49px;
    height: 49px;
    position: relative;
    float: left;
    margin-right: 1px;
}

.post-img .icons li .bg {
    display: block;
    width: 49px;
    height: 49px;
    background: #272727;
    filter: alpha(opacity=90);
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    border-radius: 4px;
}

.post-img .icons li:hover .bg {
    background: #fff;
    border-radius: 4px;
    -webkit-transition: background .4s linear;
    -moz-transition: background .4s linear;
    -ms-transition: background .4s linear;
    -o-transition: background .4s linear;
    transition: background .4s linear;
}

.post-img .icons li a {
    display: block;
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3000;
    font-size: 40px;
    padding-top: 7px;
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
}

.post-img .icons li:hover a {
    color: #000;
}


/*Modals*/

.modal {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.modal-header {
    padding: 22px 15px;
    border-bottom: 1px solid #FFF;
    background: #F5F5F5;
}

.modal-header h3 {
    font-weight: 100;
}

.modal-body {
    border-top: 1px solid #ddd;
}

a:focus {
    outline: 0;
}

a {
    color: #8AB833;
}

a:hover {
    color: #D2D6C9;
}

a,
a:hover {
    text-decoration: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
}


/*page css*/

.page-top {
    background: #444;
    height: 57px;
}

.page-title {
    background: rgba(255, 255, 255, 0);
    padding: 15px 0;
    border-bottom: 1px solid #FFFDFD;
}

.page-title h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #fff;
    color: #6d6d6d;
}


/*services page*/

.services-page {
    padding: 30px 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.services-page.rev {
    border-top: 1px solid #FFFDFD;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #DDDCDC;
    padding-bottom: 50px;
}

.services-page.last {
    border-bottom: none;
}


/*features page*/

.feature-page {
    padding: 60px 0 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.feature-page.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.features-page.home {
    padding-bottom: 60px;
}

.feature-page.last {
    border-bottom: none;
}

.graphic-bars {
    width: 368px;
    float: left;
    padding-bottom: 70px;
}

.graphic-bars .bar-holder {
    padding-bottom: 13px;
}

.graphic-bars .bar {
    height: 35px;
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 35px;
}

.graphic-bars .bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    background: #3b3b3b;
}

.graphic-bars .bar.green-bar span {
    background: #83C129;
}

.graphic-bars .bar em {
    position: absolute;
    top: 0;
    right: 10px;
    font-style: normal;
}

.graphic-bars small {
    font-size: 12px;
    color: #8e959c;
    line-height: 16px;
    display: block;
    padding-top: 4px;
}


/*features page css end*/


/*pricing page*/

.pricing-page {
    padding: 65px 0 50px;
    text-align: center;
    color: #30353e;
    background: #fff;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.pricing-page.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.pricing-page .price-plan {
    -webkit-transition: margin .3s ease-in-out;
    -moz-transition: margin .3s ease-in-out;
    -ms-transition: margin .3s ease-in-out;
    -o-transition: margin .3s ease-in-out;
    transition: margin .3s ease-in-out;
}

.pricing-page .price-plan:hover {
    margin-top: -15px;
}

.pricing-page h3 {
    font-size: 50px;
    line-height: 42px;
    font-weight: 700;
}

.pricing-page h5 {
    color: #8e959c;
    font-size: 22px;
    font-weight: 300;
}

.trial-section {
    padding: 40px 0;
    text-align: center;
    background: #fff;
    border-top: 1px solid #ddd;
}

.trial-section p {
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
}

.trial-section p strong {
    font-weight: 700;
}

.trial-section a.btn {
    font-size: 15px;
}

#pricing .price-plan h2 {
    padding: 15px 0 !important;
}


/*pricing page end*/


/*single post Page*/

.single-blog {
    padding: 10px 0 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.single-blog.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.single-blog.comments {
    border-top: 1px solid #000;
    border-bottom: 0;
    background: #3B3B3B;
    box-shadow: none;
    border-bottom: 1px solid #525252;
}

.single-blog .blog-post-title {
    display: block;
}

.single-blog.last {
    border-bottom: none;
}

.single-blog .single-blog-meta {
    border-top: 1px solid #e8eaeb;
    border-bottom: 1px solid #e8eaeb;
    padding: 9px 0;
    zoom: 1;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    position: relative;
}

.single-blog .single-blog-meta:after {
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both;
    display: block;
}

.single-blog .single-blog-meta p {
    padding: 5px 20px 0 0;
    float: left;
    margin-bottom: 0;
}

.single-blog .single-blog-meta .socials {
    padding: 0 20px 0 0;
    float: right;
}

.single-blog .post-content p {
    font-weight: 300;
    color: #7A7A7A;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
}

.single-blog .post-image {
    /*float: left;*/
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    /*margin-bottom: 5px;*/
}

.single-blog .post-image:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.single-blog .post-image img {
    display: block;
    width: 100%;
}

.single-blog .post-image + * {
    clear: both;
}

.single-blog .blog-date {
    color: #fff;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*single post end*/


/*post comments*/

.single-blog.comments-section {
    border-top: 1px solid #E4E4E4;
    border-bottom: 0;
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid #FFF;
}

.single-blog .comments {
    margin-top: 3px;
    box-shadow: 0 1px 0 0 #FFF;
    padding-bottom: 3px;
}

.single-blog .comments .comment {
    margin-bottom: 60px;
    margin-top: 30px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #cfcfcf;
}

.single-blog .comments .comment.reply_to {
    margin-top: -10px;
}

.single-blog .comments .comment .author_pic {
    padding: 5px;
}

.single-blog .comments .comment .name {
    font-weight: 700;
    color: #3F3F3F;
    font-size: 14px;
    padding: 5px;
}

.single-blog .comments .comment a.reply {
    color: #1189D9;
    text-decoration: underline;
    margin-left: 20px;
    font-size: 14px;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

.single-blog .comments .comment a.reply:hover {
    color: #252528;
}

.single-blog .comments .comment .date {
    font-size: 13px;
    font-weight: 700;
    color: #747B85;
    padding: 0 5px;
}

.single-blog .comments .comment .response {
    margin-top: 10px;
    line-height: 22px;
    font-size: 14px;
    padding: 0 5px;
}

.btn-normal {
    height: 30px;
    line-height: 30px;
    padding: 0 13px;
    margin-bottom: 0;
}

.btn-comments {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.single-blog .btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 5px;
}

.thick {
    font-weight: 300;
}


/*post comments end*/


/*sidebar*/

.widget {
    background: #FFF;
    padding: 8px;
    font-size: 13px;
    line-height: 23px;
    box-shadow: 1px 1px 1px #cfcfcf;
    margin-bottom: 10px;
    border-radius: 4px;
}

.sidebar {
    background: #F7F7F7;
    border: 1px solid #E1E1E1;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
}

.sidebar h4 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
}


/*portfolio
*/

.pricing-home {
    padding: 80px 0 60px;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.portfolio {
    padding: 80px 0 60px;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.portfolio.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.project {
    /*margin-bottom: 10px;*/
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    display: block;
}

.project.hidden {
    display: none;
}

.project:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    content: '';
    z-index: 3;
}

.project span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(70, 70, 70, 0.8);
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.project .cnt {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
}

.project .cnt strong {
    font-weight: 400;
    display: block;
    padding-bottom: 27px;
}

.project .cnt h5 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.project:hover span.overlay,
.project:hover .cnt {
    opacity: 1;
    filter: alpha(opacity=100);
}

#portfolio #filters {
    list-style-type: none;
    height: 30px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: -20px;
}

#portfolio #filters li {
    display: inline-block;
    font-size: 20px;
    margin: 0 6px;
}

#portfolio #filters li.separator {
    color: silver;
    font-weight: lighter;
}

#portfolio #filters li a {
    color: #3f3f3f;
    font-weight: 300;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}

#portfolio #filters li a:hover,
#portfolio #filters li a.active {
    color: #8AB833;
}

.home-portfolio {
    padding: 40px 0;
}

#portfolio-container .project {
    padding: 0 !important;
    /*margin: 5px;*/
}


/*portfolio end*/

.navbar-inverse .navbar-inner {
    background-color: #3b3b3b;
    background: #3b3b3b;
    background-image: none;
}


/*PAGES NAVBAR*/

#navigation .nav.page li.active {
    position: relative;
}

#navigation .nav.page li.active:after {
    position: absolute;
    top: 47px;
    left: 45%;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F4F5F6;
}


/*blog*/

.blog {
    padding: 10px 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.blog.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.blog.comments {
    border-top: 1px solid #000;
    border-bottom: 0;
    background: #3B3B3B;
    box-shadow: none;
    border-bottom: 1px solid #525252;
}

.blog .blog-post-title {
    display: block;
}

.blog.last {
    border-bottom: none;
}

.blog .single-blog-meta {
    border-top: 1px solid #e8eaeb;
    border-bottom: 1px solid #e8eaeb;
    padding: 9px 0;
    zoom: 1;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    position: relative;
}

.blog .single-blog-meta:after {
    width: 100%;
    content: '';
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both;
    display: block;
}

.blog .single-blog-meta p {
    padding: 5px 20px 0 0;
    float: left;
    margin-bottom: 0;
}

.blog .single-blog-meta .socials {
    padding: 0 20px 0 0;
    float: right;
}

.blog .post-content p {
    font-weight: 300;
    color: #7A7A7A;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
}

.blog .post-image {
    margin-top: 10px;
    float: left;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    margin-bottom: 5px;
}

.blog .post-image:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.blog .post-image img {
    display: block;
    width: 100%;
}

.blog .post-image + * {
    clear: both;
}

.blog .blog-date {
    color: #fff;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}


/*contact page*/

.contact-page {
    padding: 10px 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.contact-page.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #3B3B3B;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}

.contact-page .last {
    border-bottom: 0;
}


/*portfolio*/

.single-portfolio {
    padding: 10px 0;
    background: #FFF;
    color: #8E959C;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
}

.single-portfolio.rev {
    border-top: 1px solid #FFFDFD;
    border-bottom: 0;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #FFFDFD;
}


/*clients*/

.as-seen img {
    opacity: .5;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}

.as-seen img:hover {
    opacity: 1;
}

section#bottom {
    background: #fff;
}

ul.tweet_list {
    list-style: none;
}

ul.tweet_list li {
    margin: 0 0 5px 0;
    background: url(../images/twitterfeed.png) no-repeat left top;
    padding: 0 0 0 30px;
}

.call-to-action-link a {
    text-align: center;
    padding: 1em 0;
    display: inline-block;
    font-size: 4em;
    font-weight: 100;
    width: 100%;
    margin: 0;
    border-top: 1px solid #DDDCDC;
    border-bottom: 1px solid #DDD;
    line-height: 1.2;
    background: #fff;
    o-transition: color .12s ease-out, background .12s ease-out;
    -ms-transition: color .12s ease-out, background .12s ease-out;
    -moz-transition: color .12s ease-out, background .12s ease-out;
    -webkit-transition: color .12s ease-out, background .12s ease-out;
    transition: color .12s ease-out, background .12s ease-out;
}

.call-to-action-link a:hover {
    background: #8AB833;
}

.call-to-action-link a:hover span {
    color: #fff;
}

.call-to-action-link a span {
    display: inline-block;
    margin: 0 auto;
    color: #c2c2c2;
}


/*HOME PAGE MULTI PAGES CSS*/

.features-home-page {
    background: #F4F5F6 !important;
}

.purity-list ul {
    padding: 0px 10px;
    margin: 0px;
    list-style: none;
    padding: 20px;
    margin: 0px 20px 20px 0px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
}

.purity-list li {
    cursor: pointer;
    background: url('../images/bullet.png') no-repeat 10px 50%;
    padding: 10px 10px 10px 45px;
    background-color: #EEEEEE;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.purity-list li:first-child {
    border-top: none;
}

.purity-list li:last-child {
    border-bottom: none;
}

.purity-list li:hover {
    background-color: #8AB833;
    background-position: 20px 50%;
    padding-left: 55px;
    color: #fff;
}

@-webkit-keyframes widget_preview {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px)
    }
}

@-moz-keyframes widget_preview {
    from {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0px)
    }
}

@-ms-keyframes widget_preview {
    from {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0px)
    }
}

@-o-keyframes widget_preview {
    from {
        opacity: 0;
        -o-transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -o-transform: translateY(0px)
    }
}

@keyframes widget_preview {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

div.feature-option-3 {
    margin-bottom: 30px;
}

i.features-option-3-icon {
    font-size: 5em;
    display: inline-block;
    margin-top: 18px;
    text-align: center;
    color: #8AB833;
}


/*div.feature-detail{margin-left: 2px;}*/

.feature-detail h3 {
    color: #888;
    font-weight: 300;
}

section#latest-work {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
    background: #fff;
    padding: 40px 0;
}

#latest-work h1 {
    color: #9B9797;
}

section.index-description {
    border-top: 1px solid #FFFDFD;
    background: #F7F7F7;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.index-description p {
    color: #8E959C;
}

.index-description h1 {
    color: #999;
}

section.typography {
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDDCDC;
    background: #fff;
    padding: 40px 0;
}

.typography .headline {
    color: #999;
}


/*FANCY BOX*/


/*-----------------------------------------------------------------------------------*/


/*  FANCYBOX
/*-----------------------------------------------------------------------------------*/

#fancybox-thumbs ul li img {
    max-width: none
}

.info.hidden {
    display: none
}

.fancybox-wrap {
    background: #FFF !important
}

.fancybox-title,
.fancybox-error {
    font-size: 14px !important;
    line-height: 24px !important;
}

.fancybox-title h2,
.fancybox-title h3 {
    color: #616161;
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 700;
}

.fancybox-skin {
    color: #616161 !important
}

.fancybox-title-inside-wrap {
    padding: 20px !important
}

.fancybox-nav span {
    width: 34px !important;
    height: 34px !important;
    margin-top: -17px !important;
}

.fancybox-close {
    top: -17px !important;
    right: -17px !important;
    width: 34px !important;
    height: 34px !important;
}

.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    margin-top: 2px;
    text-align: center;
    width: 34px;
    font-size: 20px;
}

.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: #ebebeb !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    color: #4a4a4a !important;
    -webkit-transition: all 200ms ease-in !important;
    -o-transition: all 200ms ease-in !important;
    -moz-transition: all 200ms ease-in !important;
}

.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: #8AB833 !important;
    color: #FFF !important;
}

.fancybox-prev span:before {
    content: '\f053'
}

.fancybox-next span:before {
    content: '\f054'
}

.fancybox-close:before {
    content: '\f00d'
}

#fancybox-loading {
    margin-top: -12px !important;
    margin-left: -12px !important;
    background: #000 !important;
    padding: 8px;
    opacity: 1 !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
}

#fancybox-loading div {
    width: 24px !important;
    height: 24px !important;
    background-image: url(../images/fancy-loading.gif) !important;
}


/*Pre loader */

.preloading {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: block;
}

.loading-gif {
    padding: 8px;
    opacity: 1 !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
