section {
    background: #fff;
}

.temp {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

body {
    overflow: hidden;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px
}

p {
    color: #555
}

h1 {
    color: #6d6e71
}

h1.overview-title,
h1.restaurant-title {
    color: #777;
    font-size: 36px;
    font-weight: bold
}

.btn {
    border-radius: 4px
}

a:focus {
    text-decoration: none
}

.title.dark {
    color: #777;
    font-size: 36px;
    font-weight: bold
}

.navbar .nav>li>a {
    font-size: 14px !important;
    padding: 18px 10px
}

section.page-tabs {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    padding-bottom: 0px;
    border-bottom: 1px solid #A6A6A6
}

section.bottom-section {
    padding: 30px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #000
}

section.page-content {
    background: #fff;
    padding-top: 80px
}

section.overview {
    padding-top: 40px
}

section.nearby-areas {
    border-top: 1px solid #e4e4e4
}

section.sights-page {
    padding-top: 20px
}

header,
header.overview,
section.index-map {
    background: url(../images/splendida-corricella.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 500px;
    position: relative;
    background-position: center
}

header.overview,
section.overview.index-map {
    background: url(../images/overview.jpg) no-repeat;
    min-height: 600px;
    background-position: center
}

header.index,
section.index.index-map {
    background: url(../images/header.jpg) no-repeat;
    background-position: center
}

header.index .title,
section.index.index-map .title {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 48px;
    padding-top: 100px
}

header.traditional-events-header,
section.traditional-events-header.index-map {
    background-position: top
}

header.sights-header,
section.sights-header.index-map {
    min-height: 500px
}

section.index-map {
    background: url(../images/overview.png) no-repeat;
    min-height: 650px;
    background-position: bottom;
    background-color: #cfe6ea
}

section.index-map .map-header {
    background-color: #f4f5f6;
    border-top: 1px solid #a7a9ac;
    border-bottom: 1px solid #a7a9ac
}

section.index-map .map-header ul {
    margin: 0 auto;
    text-align: center
}

section.index-map .map-header ul li {
    position: relative;
    padding: 0
}

section.index-map .map-header ul li a {
    display: inline-block;
    color: #555;
    padding: 25px 15px
}

section.index-map .map-header ul li a:hover,
section.index-map .map-header ul li a.active {
    background-color: #e6e8eb;
    text-decoration: none
}

section.index-map .map-header ul li a:hover:after,
section.index-map .map-header ul li a.active:after {
    position: absolute;
    top: 100%;
    left: 40%;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e6e8eb
}

section.index-map .map-header ul li a:hover:before,
section.index-map .map-header ul li a.active:before {
    position: absolute;
    bottom: -11px;
    left: 40%;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #a7a9ac
}

.navbar-purity {
    margin-bottom: 0;
    background-color: rgba(59, 59, 59, 0.62) !important;
    background: rgba(59, 59, 59, 0.62) !important
}

.navbar-brand {
    padding: 15px;
    width: 200px
}

.navbar-brand img {
    width: 100%
}

#navigation .nav.page li.active:after {
    border-bottom-color: #ECF8FF
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 15px
}

.navbar-nav>li>.dropdown-menu:before {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #383838 transparent;
    content: '';
    top: -14px;
    right: 7px
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #999;
    background: rgba(0, 0, 0, 0.36)
}

.page-title {
    background: #f4f4f4;
    border-bottom-color: #c7c7c7;
    padding: 14px 0 15px 0
}

.page-title h2 {
    margin-bottom: 0
}

.page-title-search {
    position: relative
}

.page-title-search h3 {
    margin-top: 0;
    font-size: 17px;
    line-height: 1;
    color: #fff
}

.main-page-title {
    position: absolute;
    bottom: 0;
    width: 100%
}

.page-title-search-header {
    position: absolute;
    top: -56px;
    background: rgba(0, 0, 0, 0.68);
    width: 100%;
    padding: 15px 0 0 0;
    text-align: center;
    border-radius: 5px 5px 0 0
}

.main-title {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 48px
}

.main-title.dark {
    color: #6d6e71;
    text-shadow: none;
    margin-bottom: 0;
    margin-top: 10px
}

.sub-title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px
}

h2.sub-title {
    color: #777;
    font-size: 24px;
    font-weight: bold;
    padding-top: 5px
}

.detail-page-tabs .nav-tabs {
    margin-top: -43px;
    border-bottom: 0
}

.detail-page-tabs .nav-tabs>li>a {
    background: #EAEAEA;
    color: #555;
    font-size: 15px
}

.detail-page-tabs .nav-tabs {
    margin-bottom: 40px
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #f9f9f9
}

.detail-page-tabs .tab-content {}

.tab-item-with-image {
    margin-bottom: 20px
}

.tab-item-with-image img {
    -moz-box-shadow: #5b5b5b, 1px, 1px, 3px;
    -webkit-box-shadow: #5b5b5b, 1px, 1px, 3px;
    box-shadow: #5b5b5b, 1px, 1px, 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

.tab-item-with-image .description {
    color: #939598;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 3px
}

.tab-item-with-image .price {
    font-weight: bold;
    color: #c0c0c0
}

.tab-item-with-image h2 {
    margin-bottom: 5px
}

.tab-item-with-image h2 a {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    font-size: 18px
}

.tab-item-with-image h2 a:hover {
    text-decoration: underline
}

.project {
    cursor: pointer
}

.project .cnt strong {
    padding-bottom: 0
}

.project img,
.project span.overlay,
.project:before {
    border-radius: 10px
}

.project img {
    height: 216px
}

#map-canvas {
    height: 500px;
    min-width: 100%
}

#map-canvas-header {
    height: 400px;
    min-width: 100%
}

#map-canvas-sidebar {
    height: 287px;
    min-width: 100%;
    -moz-box-shadow: rgba(0, 0, 0, 0.25), 0, 0, 5px, inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25), 0, 0, 5px, inset;
    box-shadow: rgba(0, 0, 0, 0.25), 0, 0, 5px, inset
}

#map-canvas-sidebar:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -moz-box-shadow: rgba(0, 0, 0, 0.25), 0, 1px, 3px, inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25), 0, 1px, 3px, inset;
    box-shadow: rgba(0, 0, 0, 0.25), 0, 1px, 3px, inset
}

.map-section {
    position: relative
}

.map-title {
    position: absolute;
    bottom: 20px;
    width: 100%
}

.map-title h1 {
    font-size: 48px;
    color: #777;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999
}

.map-info-box {
    position: absolute;
    width: 300px;
    background: #fff;
    top: 10%;
    right: 14%;
    border-radius: 10px
}

.map-info-box .line {
    border-bottom: 1px solid #ccc;
    padding: 10px 15px
}

.map-info-box .line p {
    font-size: 10px;
    display: none;
    padding-left: 30px;
    color: #939598
}

.map-info-box .line h2 {
    font-size: 13px;
    font-weight: bold;
    color: #4d4d4d;
    cursor: pointer
}

.map-info-box .line h2 i {
    padding-right: 15px;
    vertical-align: middle
}

.map-info-box .line.last {
    border: none
}

.footer-bottom {
    background: #6d6d6d;
    padding: 30px 0;
    margin-top: 100px
}

ul.footer-bottom-menu {
    margin-bottom: 0
}

ul.footer-bottom-menu li a {
    color: #a7a9ac !important
}

ul.footer-bottom-menu li a:hover {
    color: #fff !important
}

ul.footer-list li.heading {
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline
}

footer {
    padding: 50px 0 0 0;
    z-index: 10;
}

.copyright {
    font-size: 11px
}

.btn-newsletter {
    color: #fff
}

.btn-newsletter:hover,
.btn-newsletter:focus,
.btn-newsletter:active,
.btn-newsletter.active,
.open>.dropdown-toggle.btn-newsletter {
    color: #fff;
    background-color: #9BC718;
    border-color: #7B9D16
}

.light {
    font-weight: 100
}

.light-title {
    margin-top: 0
}

@media (min-width: 768px) {
    .noPaddingLeft {
        padding-left: 0
    }
}

.btn-search {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.btn-request {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    padding: 16px 24px;
    text-align: left
}

.btn-warning {
    background: #f15c27;
    background-color: #f15c27;
    border-color: #d7430e
}

.btn-warning:hover {
    background: #ef4a0f
}

.btn-danger {
    background: #be1e2d;
    background-color: #be1e2d;
    border-color: #921723
}

.btn-danger:hover {
    background: #a81b28
}

.btn-request>span {
    float: right
}

.noMarginBottom {
    margin-bottom: 0
}

.nomargin {
    margin: 0 !important
}

.nopadding {
    padding: 0 !important
}

@media (min-width: 786px) {
    .nopadding-lg {
        padding: 0
    }
}

.textimage {
    margin: 0 10px 10px 0
}

.btn-request:hover span {
    -webkit-animation: horizontal .3s;
    animation: horizontal .3s
}

@-webkit-keyframes horizontal {
    from {
        margin-right: 5px
    }
    to {
        margin-right: 0px
    }
}

@keyframes horizontal {
    from {
        margin-right: 5px
    }
    to {
        margin-right: 0px
    }
}

.search-cb {
    margin: 0
}

.photo-credits p {
    margin: 0;
    color: #fff;
    font-size: 12px
}

.photo-credits p a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline
}

.paddingtop50 {
    padding-top: 50px
}

.paddingtop100 {
    padding-top: 100px
}

.paddingtop40 {
    padding-top: 40px
}

.paddingbot40 {
    padding-bottom: 40px
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.color1 {
    color: #f15c27 !important
}

.color2 {
    color: #89b73f !important
}

.color3 {
    color: #8781bd !important
}

.color4 {
    color: #3a98d4 !important
}

.color5 {
    color: #fdb613 !important
}

.colorPurity {
    color: #89b640 !important
}

.color6 {
    color: #be1e2d !important
}

.btn-newsletter {
    background-color: #ACDB21;
    border-color: #ACDB21
}

@media (max-width: 480px) {
    .page-title-search-header {
        top: 0;
        position: relative;
        padding-bottom: 10px
    }
    .detail-page-tabs .nav-tabs {
        margin-top: 0
    }
}

div.menu-bg {
    background: #000;
    min-height: 56px
}

.btn-search {
    margin-bottom: 0
}

.breadcrumbs {
    margin-bottom: 0;
    margin-top: 5px
}

ul.breadcrumbs li a,
ul.breadcrumbs li span {
    font-size: 11px;
    color: #454546
}

.listing-item {
    border-top: 1px solid #e7e7e7;
    position: relative;
    padding: 20px 0
}

.listing-item.sidebar-item {
    padding: 14px 0
}

.listing-item.sidebar-item p {
    margin-bottom: 0
}

.listing-item.first {
    border-top: 0
}

.listing-item .listing-image {
    position: relative;
    border-radius: 6px
}

.listing-item .listing- img {
    height: 144px
}

.listing-image-sidebar img {
    height: 75px
}

.listing-image-sidebar {
    position: relative
}

.listing-image-sidebar:after {
    content: '';
    overflow: hidden;
    top: 0;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

.listing-item .listing-image:after {
    content: '';
    top: 0;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

.listing-item.last {
    border-bottom: 1px solid #e7e7e7
}

.listing-title,
.listing-sub-title,
.listing-location {
    color: #777
}

.listing-title {
    font-weight: bold;
    margin-top: 0;
    font-size: 24px
}

.listing-title-sidebar {
    font-weight: bold;
    margin-top: 0;
    font-size: 18px;
    color: #555
}

.listing-details {
    margin-top: 50px
}

.listing-details.shopping {
    margin-top: 30px
}

.listing-sub-title {
    font-size: 18px
}

.listing-location {
    font-size: 12px;
    color: #555
}

span.listing-price {
    font-weight: bold;
    font-size: 18px
}

.pagination>li>a,
.pagination>li>span {
    color: #777
}

.bottom-section.gray {
    background: #f9f9f9;
    border-top: 1px solid #e8e8e8
}

.ecolor {
    color: #be1e2d !important
}

.sidebar-element {
    margin-bottom: 20px
}

.sidebar-title {
    font-weight: bold;
    color: #777
}

.events {
    border-top: 1px solid #e7e7e7;
    position: relative;
    padding: 10px 0
}

.sidebar-event {
    border-top: 1px solid #e7e7e7;
    position: relative;
    padding: 20px 0
}

.dateBox {
    background: #939598;
    padding: 5px 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    max-width: 64px
}

.dateBox:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

.dateBox span.date {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 32px;
    font-weight: 700
}

.dateBox span.month {
    color: #fff;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: -10px
}

.sidebar-event-heading {
    color: #be1e2d;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0
}

.sidebar-event-date {
    color: #be1e2d;
    font-size: 14px;
    margin-bottom: 0
}

.sidebar-event-location {
    margin-top: 0;
    color: #555;
    font-size: 12px
}

.event-heading {
    color: #be1e2d;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0px
}

.event-subheading {
    font-size: 12px;
    color: #be1e2d
}

.event-date {
    font-size: 12px;
    font-weight: bold
}

.event-location {
    font-size: 12px
}

.table-events p {
    margin: 0
}

.table-events tr td:first-child {
    padding-left: 0
}

.table-events tr td:last-child {
    text-align: right
}

.main-title.event-title {
    font-size: 36px;
    text-shadow: none;
    color: #be1e2d;
    margin-top: 15px;
    text-shadow: 1px 1px 0px #fff
}

.event-info li {
    font-size: 18px;
    color: #777;
    padding-right: 10px
}

.table-events-main td {
    background-color: #f9f9f9
}

.table-events-main td:first-child {
    padding-left: 5px !important
}

.underline-border {
    border-bottom: 4px solid #777
}

.events-listing {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    position: relative
}

.events-listing .event-list-title h2 {
    font-size: 18px;
    color: #777;
    font-weight: bold
}

.events-listing .event-info li {
    font-size: 12px
}

.events-listing p {
    color: #58595b
}

.events-listing .event-list-readmore {
    font-weight: bold;
    color: #be1e2d;
    right: 5px;
    bottom: 5px;
    position: absolute
}

.events-listing-page {
    padding: 10px 0
}

.events-listing-page .event-list-title h2 {
    font-size: 24px
}

.detail-summary {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px
}

.detail-summary i {
    font-size: 1.5em
}

.detail-summary span {
    float: right
}

hr.procida {
    margin: 20px 0 20px
}

hr.small {
    margin: 12px 0 11px
}

hr.strong {
    border-bottom: 3px solid #777;
    margin: 10px 0 5px
}

.listing-price-sidebar {
    color: #a7a9ac;
    font-weight: bold;
    font-size: 12px
}

.image-shadow {
    position: relative
}

.image-shadow:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    border-radius: 6px
}

.ui-slider {
    margin-top: 5px
}

.hotel-listing-item {
    padding-bottom: 20px
}

.hotel-listing-item .listing-image {
    position: relative
}

.hotel-listing-item .listing-image:after {
    content: '';
    top: 0;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

.hotel-listing-item .hotel-listing-price {
    position: absolute;
    background: #8ab93f;
    border: 1px solid #729225;
    bottom: 0;
    border-radius: 0 6px 0 6px;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold
}

.hotel-listing-item .reviews {
    font-weight: bold;
    color: #c0c0c0
}

.hotel-listing-item .hotel-listing-title {
    font-weight: bold;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 5px
}

.hotel-listing-item .hotel-listing-details {
    padding-top: 10px
}

.blog-item {
    border-bottom: 1px solid #e7e7e7;
    padding: 14px 0
}

h3.blog-date {
    font-size: 21px;
    margin-top: 0;
    color: #B7B7B7
}

h2.blog-title {
    font-weight: 700;
    font-size: 24px;
    color: #58595b
}

p.blog-details {
    font-size: 12px
}

a.blog-link {
    font-weight: bold;
    font-size: 12px
}

a.blog-link i {
    font-size: 8px;
    padding-left: 3px
}

.list-tags {
    display: inline;
    padding-left: 5px
}

.list-tags li {
    padding-right: 0;
    padding-left: 0
}

.list-tags li a {
    color: #333
}

a.blog-link-single {
    font-weight: bold
}

a.blog-link-single i {
    font-size: 12px;
    padding-left: 3px
}

h3.blog-date-single-author {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px
}

h3.blog-date-single-author a {
    color: #333;
    text-decoration: underline
}

h3.blog-date-v2 {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    margin-top: 5px
}

h3.blog-date-v2 span {
    color: #8AB833;
    float: right;
    padding-right: 10px
}

h2.blog-title-single {
    font-size: 36px;
    color: #777;
    margin-bottom: 0
}

.recent-articles-heading {
    border-bottom: 3px solid;
    padding-bottom: 5px
}

.recent-articles .recent-article {
    border-bottom: 1px solid #DCDCDC;
    padding: 10px 0
}

.recent-articles .recent-article:first-child {
    padding-top: 0
}

.recent-articles .recent-article .col-md-3 {
    padding-right: 0
}

.recent-articles .recent-article .ra-date {
    font-size: 12px;
    color: #a7a9ac
}

.recent-articles .recent-article .ra-title {
    font-size: 18px;
    font-weight: bold;
    color: #555555
}

.recent-articles .recent-article .ra-meta {
    padding-top: 20px;
    color: #a7a9ac;
    font-size: 12px;
    font-weight: bold
}

.recent-articles .recent-article .ra-meta a {
    color: #a7a9ac
}

.recent-articles .recent-article .ra-meta .comments {
    padding-left: 10px;
    color: #8AB833
}

.recent-articles .recent-article .ra-meta i {
    color: #8AB833
}

.addthis_button_tweet {
    width: 80px
}

.addthis_button_google_plusone {
    width: 70px
}

ul.categories li {
    border-top: 1px solid #DCDCDC;
    padding: 5px 0;
    position: relative
}

ul.categories li:hover {
    background: #f9f9f9
}

ul.categories li:hover a {
    color: #89b640
}

ul.categories li a {
    color: #777;
    font-size: 14px
}

ul.categories li span {
    position: absolute;
    right: 0;
    background: #ccc;
    color: #fff;
    padding: 1px 7px;
    border-radius: 5px
}

.blog-image {
    position: relative
}

.blog-image:after {
    content: '';
    top: 0;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

.time-table img {
    height: 14px;
    display: inline-block
}

.time-table th:last-child {
    text-align: right
}

.time-table tbody td {
    font-size: 12px
}

.table-events td {
    vertical-align: middle !important
}

.time-table thead th,
.table-events thead th {
    background: #e6e7e8;
    font-size: 12px
}

.time-table td.time {
    font-weight: bold
}

.time-table tr td:last-child {
    text-align: right
}

ul.list-timetable li a {
    text-decoration: none;
    padding: 7px 10px;
    color: #5E5E5E;
    line-height: 24px;
    background-color: #EFEFEF;
    font-size: 12px
}

ul.list-timetable li a:hover,
ul.list-timetable li.active a {
    color: #FFF;
    background-color: #5E5E5E
}

ul.list-timetable li.active {
    padding-bottom: 7px !important;
    background: url(../images/arrowt.gif) no-repeat bottom center
}

.overview-item {
    margin-bottom: 20px;
    margin-top: 20px
}

.overview-item h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    color: #555
}

.overview-item a:hover {
    text-decoration: underline
}

.overview-tabs h2 {
    font-size: 38px
}

.overview-tabs p {
    font-size: 12px
}

section.overview-tabs {
    background: #f9fafb;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 40px
}

.overview-links h4 {
    font-weight: bold;
    font-size: 14px;
    color: #6d6e71
}

ul.list-overview li a {
    color: #6d6e71
}

ul.list-overview li a:hover {
    text-decoration: underline
}

ul.list-overview {
    margin-left: 10px;
    font-size: 13px
}

.fa-li {
    left: -22px
}

.overview-image {
    position: relative
}

.overview-image:after {
    content: '';
    top: 0;
    border-radius: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset
}

#nearby-areas-carousel .carousel-control.right {
    background: none
}

#nearby-areas-carousel .carousel-control.left {
    background: none
}

#nearby-areas-carousel .carousel-control span {
    color: #000;
    text-shadow: none
}

.bold {
    font-weight: bold
}

.info-title {
    font-weight: bold
}

ul.sidebar-website li {
    border-top: 1px solid #e7e7e7;
    position: relative;
    padding: 10px 0 10px 5px
}

ul.sidebar-website li:hover {
    background: #f9f9f9
}

ul.sidebar-website li a {
    color: #777
}

ul.sidebar-website li i {
    position: absolute;
    right: 5px
}

#fixed-booking-form {
    position: fixed;
    right: 0;
    left: 0;
    padding: 14px 0 15px 0;
    z-index: 1020;
    -moz-transition: padding, 0.3s;
    -o-transition: padding, 0.3s;
    -webkit-transition: padding, 0.3s;
    transition: padding, 0.3s
}

@media (min-width: 800px) {
    #fixed-booking-form .form-group {
        margin-bottom: 0px
    }
}

#fixed-booking-form.sticky {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1020;
    padding: 7px
}

.picon {
    width: 16px;
    height: 16px
}

.well li {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    line-height: 1;
    font-size: 14px
}

.well li i {
    padding-top: 2px;
    padding-right: 10px
}

.well li i.strike {
    text-decoration: line-through
}

.well li span {
    float: right
}

.well-filter .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px
}

.well-heading {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px
}

.accomodation-listing-title {
    font-size: 18px
}

.accomodation-listing-title span {
    float: right
}

.accomodation-listing-sub-title {
    font-size: 12px
}

.accomodation-listing-sub-title span {
    float: right
}

.accomodation-listing-location {
    padding-top: 20px
}

.listing-item-accomodation {
    padding: 10px 0
}

.accomodation-detail-title {
    font-size: 18px;
    font-weight: bold
}

.accomodation-detail-location {
    font-size: 14px;
    padding-top: 5px;
    color: #777
}

.accomodation-detail-price {
    font-weight: bold;
    font-size: 18px;
    text-align: right
}

.accomodation-detail-price small {
    display: block;
    font-weight: normal
}

.accomodation-summary {
    margin-bottom: 10px
}

.table-index .btn {
    margin-bottom: 0
}

.index-tables h4 {
    font-size: 18px
}

.index-item-meta a {
    text-decoration: none;
    color: #999;
    font-size: 12px
}

.index-map-list li {
    width: 30%
}

.index-map-list li a {
    text-align: left
}

.index-map-list li a i {
    padding-right: 10px
}

.index-map-list li p {
    font-size: 12px
}

.traditional-event-detail-title {
    position: absolute;
    bottom: 15px;
    width: 100%
}

.traditional-event-detail-title .dateBox {
    float: left;
    margin-right: 20px
}

section.page-traditional-events {
    padding-top: 20px
}

.list-sidebar-events li:hover a {
    color: #be1e2d
}

.upcoming-events .list-upcoming li {
    padding: 10px 0
}

.shopping-tags li {
    padding-right: 0
}

.shopping-tags li a {
    color: #999
}

.sidebar-sight li a:hover {
    color: #f11920
}

.menu-flag {
    width: 16px;
    height: 16px
}

.text-lg {
    font-size: 18px
}

.navbar-purity.sticky {
    background: #3b3b3b !important;
}

a:hover,
a:focus {
    color: #8AB833;
}

#search-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.datepicker-dropdown {
    position: absolute !important;
    z-index: 9000 !important;
}

@media(min-width: 980px) {
    #search-navbar {
        display: none !important;
    }
}

@media (max-width: 979px) {
    /* #search-navbar {
        display: block !important;
    }*/
    header {
        min-height: 300px !important;
    }
    .page-title-search-header {
        padding: 5px;
        position: static;
        margin-bottom: 20px;
    }
    #nearby-areas-carousel {
        height: 320px;
        overflow: hidden;
    }
    .navbar-purity.navbar-inverse,
    .navbar-purity.navbar-inverse.sticky {
        background: #464646 !important;
    }
}

@media (max-width: 480px) {
    header {
        min-height: 200px !important;
    }
    .page-title-search-header {
        margin-bottom: 20px;
    }
}
