.m-tb-10-20 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.listing-rooms {
    border-top: 2px solid #000;
    position: relative;
    padding: 20px 0;
}

.single-room {
  border-bottom: 1px solid #999;
  padding: 0 0 20px 0 !important;
}

.hotelStats i {
  color: #8AB833;
}
.hotelStats h4 {
  font-weight: 700;
}

.hotelStats h3 {
  display: inline-block;
  margin: 0 5px;
}

.div70 {
  max-width: 60%;
  display: inline-block;
}
.div30 {
  width: 35%;
  display: inline-block;
  padding-left: 20px;
  overflow-y: scroll;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}

/* [15052019] start css */
.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar label {
  display: inline-block;
  /* background-color: #c7dbfe; */
  padding: 5px 20px;
  font-family: Arial;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}
.radio-toolbar label:nth-child(2){
  margin-right: 20px;
}
.radio-toolbar{
  margin-bottom: 10px;
}
.radio-toolbar input[type="radio"]:checked+label {
  /* background-color: #fdab00; */
  color: #fff;
}
.transfer-text {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}
.manage-label-line{
  white-space: pre;
}
/* [15052019] end css */

/* [20052019] start css */
.item-radio-card {
  width: 31%;
  display: inline-block;
  position: relative;
  height: 180px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
}
.item-radio-card img {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  height: 180px;
  object-fit: cover !important;
}
.item-radio-card label {
  width: 100%;
  height: 180px;
  line-height: 300px;
  z-index: 99999;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 90px inset;
  border-radius: 5px;
  padding-left: 45px;
}
.item-radio-card label:before{
    content: "\f058";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 6px;
    color: #ccc;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 9999;
    font-size: 24px;
    left: 15px;
}
.radio-toolbar input[type="radio"]:checked+label:before {
    content: "\f058";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 6px;
    color: #e1a83d;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 9999;
    font-size: 24px;
    left: 15px;
}
header.header-common-height{
  min-height:300px !important;
}
iframe#vesselfinder {
  width: 100% !important;
  margin-top:30px;
}
.font-14 td{
  font-size: 14px !important; 
}
tr.font-14 td:first-child{
  font-size: 24px !important; 
}
#tableSection .time-table th:last-child,
#tableSection .time-table td:last-child {
    text-align: center;
}

/* [22052019] */
.box_style_1.book-transfer-wrap{
    padding: 0;
    border: none;
}
.box_style_1.book-transfer-wrap h3.inner {
    font-weight: bold;
    /*text-align: left !important;*/
    margin: 0 0 20px 0;
    background-color: transparent;
    padding: 0;
    color: #555;
    text-align: left;
}

/* [05062019] */
header.header-common-height {
  min-height: 300px !important;
  background-size: cover !important;
  background-position: top center;
  display: inline-block !important;
  width: 100%;
  background-repeat: no-repeat !important;
  background: center;
}
.ferry-align{
  /*padding-left: 37px;*/
}

@media (max-width: 1024px){
  .div70 {
    max-width: 100% !important;
    display: block !important;
  }
  .div30 {
    width: 100% !important;
    display: block !important;
    padding-left: 0px !important;
    margin-top: 20px;
  }

  .modal.in .modal-dialog {
    max-width: calc(94vw);
  }
}

@media screen and (max-width: 991px){
    .item-radio-card,
    .item-radio-card img,
    .item-radio-card label{
        height: 150px;
    }
    .item-radio-card label {
      line-height: 240px;
    }
}

@media screen and (max-width: 600px){
    .item-radio-card {
      width: 48%;
    }
}

@media (max-width:480px){
  .no-padding-xs {
    padding: 0px !important;
  }
  .custom-responsive .item-radio-card{
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width:320px){ 
  .mobileMenu .drop-down .caret {
     display: none;
  }

}